<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
    <div class="container">
        <a class="navbar-brand me-3" 
        asp-controller="Home" 
        asp-action="Index">
            <img src="~/images/logo.svg" alt="logo"/>
        </a>
        <div class="dropdown">
            <button 
            class="btn text-white bg-black shadow-none dropdown-toggle fw-bold" 
            style="width:180px"
            type="button" 
            id="dropdownMenuButton"
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            Manage
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item @Html.ActiveClass("Trainings", "Index")"
                    asp-controller="Trainings"
                    asp-action="Index">Trainings</a>
            </li>
            <li>
                <a class="dropdown-item @Html.ActiveClass("Users", "GetAllStudents")"
                    asp-controller="Users"
                    asp-action="GetAllStudents">Students</a>
            </li>
            <li>
                <a class="dropdown-item @Html.ActiveClass("Users", "GetAllSupervisors")"
                    asp-controller="Users"
                    asp-action="GetAllSupervisors">Supervisors</a>
            </li>
            <li>
                <a class="dropdown-item @Html.ActiveClass("Users", "GetAllCompanies")"
                    asp-controller="Users"
                    asp-action="GetAllCompanies">Companies</a>
            </li>
            <li>
                <a class="dropdown-item @Html.ActiveClass("Departments", "GetDepartments")"
                    asp-controller="Departments"
                    asp-action="GetDepartments">Departments</a>
            </li>
            <li>
                <a class="dropdown-item @Html.ActiveClass("Roles", "ListRoles")" 
                asp-controller="Roles" 
                asp-action="ListRoles">Roles</a>
            </li>
            <li>
                <a class="dropdown-item @Html.ActiveClass("Analysis", "Index")" 
                asp-controller="Analysis" 
                asp-action="Index">Sentiment Analysis</a>
            </li>
            </ul>
        </div>

        <partial name="_LoginPartial" />
    </div>
</nav>