<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tradent</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
            <div class="container">
                <a class="navbar-brand me-3" 
                asp-controller="Home" 
                asp-action="Index">
                    <img src="~/images/logo.svg" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#siteNav" aria-controls="siteNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="font-size:18px;padding-bottom: 3px;" id="siteNav">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-center">
                        <li class="nav-item">
                            <a class="nav-link
                            @Html.ActiveClass("Trainings", "Index")"
                               asp-controller="Trainings"
                               asp-action="Index">Trainings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link 
                                @Html.ActiveClass("Users", "GetAllStudents")"
                               asp-controller="Users"
                               asp-action="GetAllStudents">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link 
                            @Html.ActiveClass("Users", "GetAllSupervisors")" 
                            asp-controller="Users" 
                            asp-action="GetAllSupervisors">Supervisors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link 
                            @Html.ActiveClass("Users", "GetAllCompanies")" 
                            asp-controller="Users" 
                            asp-action="GetAllCompanies">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.ActiveClass("Roles", "ListRoles")"  asp-controller="Roles" asp-action="ListRoles">Roles</a>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf") 

</body>
</html>
