@using SummerTrainingSystemCore.Enums

@if (User.Identity.IsAuthenticated)
{
    <div class="btn-group">
      <button 
        style="min-width:auto !important;" 
        type="button" 
        class="btn text-white fw-bold shadow-none dropdown-toggle p-0" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <partial name="_ProfilePictureLogicPartial"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
          @if (User.IsInRole(Roles.Student.ToString()))
            {
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "MySupervisors")" 
                    asp-controller="Account" asp-action="MySupervisors">
                        <i class="fas fa-users me-1"></i> Supervisors
                    </a>
                </li>
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "GetTrainningForStudent")" 
                    asp-controller="Account" asp-action="GetTrainningForStudent">
                        <i class="fas fa-list me-1"></i> Applications
                    </a>
                </li>
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "StudentProfile")" 
                    asp-controller="Account" asp-action="StudentProfile">
                        <i class="fas fa-user me-1"></i> Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "EditStudent")" 
                    asp-controller="Account" asp-action="EditStudent">
                        <i class="fas fa-edit me-1"></i>Edit Profile
                    </a>
                </li>
            }
            else if (User.IsInRole(Roles.Supervisor.ToString()))
            {
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "MyStudents")" 
                    asp-controller="Account" asp-action="MyStudents">
                        <i class="fas fa-users me-1"></i> Students
                    </a>
                </li>
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "SupervisorProfile")" 
                    asp-controller="Account" asp-action="SupervisorProfile">
                        <i class="fas fa-user me-1"></i> Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "EditSupervisor")" 
                    asp-controller="Account" asp-action="EditSupervisor">
                        <i class="fas fa-edit me-1"></i> Edit Profile
                    </a>
                </li>
            }
            else if (User.IsInRole(Roles.Company.ToString()))
            {
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "GetTrainingsForCompany")" 
                    asp-controller="Account" asp-action="GetTrainingsForCompany">
                        <i class="fas fa-list me-1"></i> My Trainings
                    </a>
                </li>
                <li>
                    <a class="dropdown-item @Html.ActiveClass("Account", "CompanyProfile")" 
                    asp-controller="Account" asp-action="CompanyProfile">
                        <i class="fas fa-user me-1"></i> Profile
                    </a>
                </li>
            }
            <li>
                <form method="post" asp-action="Logout" asp-controller="Account">
                    <button class="dropdown-item" type="submit"><i class="fas fa-sign-out-alt me-1"></i> Logout</button>
                </form>
            </li>
      </ul>
    </div>
}