@model SaveTrainingVM
@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="~/css/trainings.css" />

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">

            <h2>@Model.Title</h2>
            <h5>Created At : @Model.CreatedAt.ToString("d")</h5> 
            <h5>Start At : @Model.StartAt.ToString("d")</h5> 
            <h5>End At : @Model.EndAt.ToString("d")</h5>
            <p class="text-primary">
                @Model.Description
            </p>

            <a asp-controller="Trainings" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger" onclick="deleteTraining(@Model.Id)">Delete</button>
            <div class="spinner-border text-danger spinner-border-sm d-none" role="status" id="deleteSpinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <a asp-controller="Trainings" asp-action="Index" class="btn btn-outline-secondary">Back</a>

        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        function deleteTraining(data){
            $.ajax({
                url: '/trainings/' + data,
                method: 'Delete',
                beforeSend: (xhr) => {
                    document.getElementById('deleteSpinner').classList.toggle('d-none');
                },
                success: (result, status, xhr) => {
                    document.getElementById('deleteSpinner').classList.toggle('d-none');
                    window.location.replace('/trainings');
                },
                error: (result, status, xhr) => {
                    document.getElementById('deleteSpinner').classList.toggle('d-none');
                    Swal.fire(
                        'Error!',
                        'Something went wrong.',
                        'error'
                    );
                }
            });
        }
    </script>
}