@using SummerTrainingSystemCore.Enums
@model TrainingVM
@{
    ViewData["Title"] = Model.Title;
}

<link href="~/css/trainings.css" rel="stylesheet" />
<div class="container mt-4">
    <div class="col-lg-8 mb-4 bg-white p-3">
        <div class="mb-2">
            <h2>@Model.Title</h2>
            <div class="pb-2 name">
                <a class="" href="#">
                    <span class="badge bg-success">&nbsp;@Model.TrainingType.TypeName</span>
                </a>
            </div>

            <div class="pb-1 ">
                <a asp-controller="Account" asp-action="ViewProfile" asp-route-id="@Model.CompanyId">&nbsp;@Model.Company.Name</a> -
                @(Model.Company.City).@(Model.Company.Country)
            </div>

            
            <span class="text-secondary">&nbsp;Posted 1 hour</span>

            <div>
                <span class="applicationNumber text-secondary">250</span>
                <span class="applicationPostion text-secondary text-opacity-75">
                    Applicants for 5 open positions
                </span>
            </div>
            <hr />

            @if (User.IsInRole(Roles.Company.ToString()))
            {
                <a asp-controller="Trainings" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">&nbsp;Edit</a>
                <button class="btn btn-danger" onclick="deleteTraining(@Model.Id)">
                    Delete
                    <div class="spinner-border spinner-border-sm d-none" role="status" id="@Model.Id">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <div class="spinner-border text-danger spinner-border-sm d-none" role="status" id="deleteSpinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <a asp-controller="Trainings" asp-action="Index" class="btn btn-outline-secondary">&nbsp;Back</a>
            }@if (User.IsInRole(Roles.Student.ToString()))
            {
                <div class="sww">
                    <button class="btn btn-primary btn-lg">Apply To Intership</button>
                    <button class="btn btn-light btn-lg"><i class="far fa-bookmark"></i></button>
                    <button class="btn btn-light btn-lg"><i class="fas fa-share"></i></button>
                </div>
            }
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="col-lg-8 mb-4 bg-white p-3">
        <div class="mb-2">
            <h4>Internship Description</h4>
            <p class="">
                &nbsp;@Model.Description
            </p>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/trainingForCompany.js"></script>
}