@using SummerTrainingSystemCore.Enums
@model TrainingVM
@{
    ViewData["Title"] = Model.Title;
}

<link href="~/css/trainings.css" rel="stylesheet" />
<div class="container mt-4">
    <div class="col-lg-8 mb-4 bg-white p-3">
        <div class="mb-2">
            <h2>@Model.Title</h2>
            <span class="tr-type-badge mb-3">@Model.TrainingType.TypeName</span>

            <div class="pb-1 mt-2">
                <a asp-controller="Account" asp-action="CompanyProfile" asp-route-id="@Model.CompanyId">
                    @Model.Company.Name
                </a> 
                @(Model.Company.City), @(Model.Company.Country)
            </div>
            <span class="text-secondary">
                @(
                    (DateTime.Now - new DateTime(2022, 3, 8)).Days == 0 ? "Today" : $"Posted {(DateTime.Now - new DateTime(2022, 3, 8)).Days} ago"
                )
            </span>
            <div>
                <span class="applicationNumber text-secondary">250</span>
                <span class="applicationPostion text-secondary text-opacity-75">
                    Applicants for 5 open positions
                </span>
            </div>
            <hr />

            @if (User.IsInRole(Roles.Company.ToString()))
            {
                <a asp-controller="Trainings" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">&nbsp;Edit</a>
                <button class="btn btn-danger" onclick="deleteTraining(@Model.Id)">
                    Delete
                    <div class="spinner-border spinner-border-sm d-none" role="status" id="@Model.Id">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <div class="spinner-border text-danger spinner-border-sm d-none" role="status" id="deleteSpinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <a asp-controller="Trainings" asp-action="Index" class="btn btn-outline-secondary">&nbsp;Back</a>
            }
            @if (User.IsInRole(Roles.Student.ToString()))
            {
                <div class="sww">
                    <button class="btn btn-primary btn-lg">Apply To Intership</button>
                    <button class="btn btn-light btn-lg"><i class="far fa-bookmark"></i></button>
                    <button class="btn btn-light btn-lg"><i class="fas fa-share"></i></button>
                </div>
            }
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="col-lg-8 mb-4 bg-white p-3">
        <div class="mb-2">
            <h4>Description</h4>
            <p class="">
                @Model.Description
            </p>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/trainingForCompany.js"></script>
}