@inject SummerTrainingSystemCore.Interfaces.IUnitOfWork unitOfWork
@{
    ViewData["Title"] = "Trainings";
}

<div class="container mt-4">
    <div class="row">
        <aside class="col-md-3">
            <p class="fw-bold">Filter By Department</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action active" 
                    id="all"
                    data-depid="0"
                    onclick="updateTrainings(0, 'all')">

                    All
                </li>
                @foreach (var dep in await unitOfWork.GenericRepository<Department>().ListAllAsync())
                {
                    <li class="list-group-item list-group-item-action" 
                        id="@dep.Abbreviation"
                        data-depid="@dep.Id"
                        onclick="updateTrainings(@dep.Id, '@dep.Abbreviation')">

                        @dep.Name
                    </li>
                }
            </ul>
        </aside>
        <div class="col-md-6" style="margin-top: calc(1rem + 24px);">
            <form class="d-flex mb-4">
                <input class="form-control me-2 shadow-none" 
                    name="searchQuery"
                    id="searchQuery"
                    type="search" placeholder="Search"
                    aria-label="Search">

                <button class="btn btn-primary" 
                    type="submit" 
                    style="margin-left:-17px !important;"
                    onclick="onSearch(event)">
                    Search
                </button>
            </form>
            <div class="custom-spinner d-none" id="spinner">
                <div class="spinner-border text-primary" style="width: 2rem; height: 2rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="alert alert-info d-none" id="alertMessage">
                No trainings to show.
            </div>

            <div id="trainingsContainer">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/trainingsIndex.js"></script>
}