@using SummerTrainingSystemCore.Enums
@model CompanyVM
@{
    ViewData["title"] = "Company";
}

<link href="~/css/trainings.css" rel="stylesheet" />
<link href="~/css/CompanyProfile.css" rel="stylesheet" />

<div class="container">
    <div class="hetadiv">
        <div class="bluediv"></div>
        <div>
            <img src="~/images/landing.jpg" class="profile-photo">
        </div>
    </div>
    <!--الصورة والكلام-->
    <div class="photodiv">
    <div class="headdiv">
        <h1 class="head">@Model.Name
        </h1>
    </div>

    <!--الحنة اللي فيها كايرو ايجيبت-->
    <div class="descdiv">
        <span>
        <a class="manu">@Model.Industry</a>
        </span>
         | 
        <span class="location-info">@Model.City , @Model.Country</span>
         | 
        <span class="company-size">@Model.CompanySize.SizeRange</span>
    </div>

    <!--الحتة اللي فيها لوجو الفيس-->
    <div class="linksdiv">
        <div class="comlink">
            <i class="fas fa-globe me-1 text-primary"></i>
            <a href="@Model.CompanyWebsite" class="weblink">@Model.CompanyWebsite</a>
        </div>
    </div>
    </div>

    <!--الديسكريبشن-->
    <div class="prof mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="profhead">Company Profile</h2>
            @if(User.IsInRole(Includes.Company.ToString()) && Model.Email == User.Identity.Name )
            {
                <a class="btn btn-secondary" asp-controller="Account" asp-action="EditCompany">
                    <i class="fas fa-pen"></i> Edit Profile
                </a>
            }
        </div>
        <div class="profspans">
            <span class="locspan">
                <span class="location">Location: </span>
                <span class="makan">@Model.City , @Model.Country</span>
            </span>
            <span class="foundedspan">
                <span class="founded">Founded: </span>
                <span class="year">@Model.FoundedAt.ToString("d")</span>
            </span>
            <span class="industryspan">
                <span class="industry">Industry: </span>
                <span class="manufac">@Model.Industry</span>
            </span>
            <span class="foundedspan">
                <span class="founded">Spacialists: </span>
                <span class="year">@Model.Specialities</span>
            </span>
            <span class="sizespan">
            <span class="comsize">Company Size: </span>
            <span class="num">@Model.CompanySize.SizeRange</span>
            </span>
        </div>
        <p class="about">
            @Model.AboutCompany
        </p>
    </div>
        
</div>