@model CompanyVM
@{
    ViewData["title"] = "Company";
}
<link href="~/css/trainings.css" rel="stylesheet" />
<div class="container">
    <div class="row container bg-white">
        <div class=" d-flex justify-content-between">
            <div class="d-flex">
                <div class="img-thumbnail">
                    <img src="~/images/logo.png" />
                </div>
                <div class="p-4">
                    <h4 class="fw-bold">@Model.Name</h4>
                    <span class="text-secondary">@Model.Industry&nbsp;.&nbsp;@Model.City&nbsp;,&nbsp;@Model.Country&nbsp;.&nbsp;@Model.CompanySizeId</span>
                    <br />
                    <a href="@Model.CompanyWebsite">@Model.CompanyWebsite </a>
                </div>
            </div>
            <div class="mt-4 pe-5 p-3">
                <a href="#"><i class="fas fa-share"></i>&nbsp;&nbsp;Share Company Page</a>
            </div>
        </div>
        
    </div>
    <div class="container mt-4">
        <div class="col-lg-8 mb-4 bg-white p-3">
            <div class="mb-2">
                <h4>Company Profile</h4>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <span>Location:@Model.City&nbsp;-&nbsp;@Model.Country</span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <span>Founded:@Model.FoundedAt.ToString("d")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <span>Industry:@Model.Industry</span>
                    </div>
                    <div class="col-md-6 mt-4">
                        <span>Specialities:@Model.Specialities</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <span>
                            Company Size:@Model.CompanySizeId
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mt-4">
                        <p>@Model.AboutCompany</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>